@tailwind base;
@tailwind components;
@tailwind utilities;



.hover:scale-105 {
    transition: transform 0.2s ease-in-out;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  

  
  .bg-blue-500:hover {
    background-color: #2563eb;
  }
  img {
    transition: transform 0.3s;
  }
  
  img:hover {
    transform: scale(1.05);
  }
    